<mat-form-field>
  <input matInput placeholder="Hledání ve známostech" #input />
</mat-form-field>

<div align="end">
  <button
    mat-icon-button
    aria-label="open in new tab icon"
    (click)="goToDetail(null)"
  >
    <mat-icon>add</mat-icon>
  </button>
</div>

<div class="spinner-container" *ngIf="dataSource.loading$ | async">
  <mat-spinner></mat-spinner>
</div>

<mat-table
  class="acquaintances-table mat-elevation-z8"
  [dataSource]="dataSource"
  matSort
  matSortActive="name"
  matSortDirection="asc"
  matSortDisableClear
>
  <ng-container matColumnDef="_actions">
    <mat-header-cell mat-header-cell *matHeaderCellDef>akce</mat-header-cell>
    <mat-cell *matCellDef="let row" [class.highlight]="row._highlight">
      <button
        mat-icon-button
        aria-label="open in new tab icon"
        (click)="goToDetail(row)"
      >
        <mat-icon>open_in_new</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="idCharacter">
    <mat-header-cell *matHeaderCellDef mat-sort-header>kdo ví</mat-header-cell>
    <mat-cell *matCellDef="let acquaintance">{{ acquaintance.character.name }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="idObject">
    <mat-header-cell *matHeaderCellDef mat-sort-header>o kom se ví</mat-header-cell>
    <mat-cell *matCellDef="let acquaintance">{{
      acquaintance.object.name
    }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="description">
    <mat-header-cell *matHeaderCellDef mat-sort-header>popis</mat-header-cell>
    <mat-cell *matCellDef="let acquaintance" [title]="acquaintance.description">{{
      acquaintance.description |slice:0:30
    }}<span *ngIf="acquaintance.description.length > 30">&hellip;</span></mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>

<mat-paginator
  [length]="dataSource.count$ | async"
  [pageIndex]="0"
  [pageSize]="10"
  [pageSizeOptions]="[10, 100, 1000]"
></mat-paginator>
