<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/character" routerLinkActive="active">Role</a>
      <a mat-list-item routerLink="/acquaintance" routerLinkActive="active">Ví se o</a>
      <a mat-list-item routerLink="/tail" routerLinkActive="active">Linky</a>
      <a mat-list-item routerLink="/event" routerLinkActive="active">Události</a>
      <a mat-list-item routerLink="/prop" routerLinkActive="active">Rekvizity</a>
      <a mat-list-item><i>Vybavení</i></a>
      <a mat-list-item routerLink="/task" routerLinkActive="active">Úkoly</a>
      <a mat-list-item routerLink="/user" routerLinkActive="active">Autoři</a>
      <a mat-list-item routerLink="/player" routerLinkActive="active">Hráči</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
