<mat-sidenav-container class="example-container" *ngIf="model; else loading">
  <mat-sidenav opened mode="side" position="end" class="sidenav-details">
    <ng-container *ngIf="model.player">
      <h2>Hráč: {{ model.player.surname }} {{ model.player.firstName }}</h2>
      <ul *ngIf="model.player.xQuality">
        <li *ngFor="let xQuality of model.player.xQuality">
          {{ xQuality.quality.name }}: {{ xQuality.rate }}
        </li>
      </ul>
    </ng-container>
    <i *ngIf="!model.player">nemá hráče</i>

    <ng-container *ngIf="model.involvements">
      <h2>Příběhové linky</h2>
      <ul>
        <li *ngFor="let involvement of model.involvements">
          {{ involvement.tail.name }}
        </li>
      </ul>
    </ng-container>

    <ng-container *ngIf="model.acquaintances">
      <h2>Ví o:</h2>
      <ul>
        <li *ngFor="let acquaintance of model.acquaintances">
          <app-acquaintance-detail
            [id]="acquaintance.id"
          ></app-acquaintance-detail>
        </li>
      </ul>
    </ng-container>

    <ng-container *ngIf="model.acquaintancesAsObject">
      <h2>Ví o něm:</h2>
      <ul>
        <li *ngFor="let acquaintance of model.acquaintancesAsObject">
          <app-acquaintance-detail
            [id]="acquaintance.id"
            [isObject]="true"
          ></app-acquaintance-detail>
        </li>
      </ul>
    </ng-container>


    <pre>{{ model | json }}</pre>

  </mat-sidenav>
  <mat-sidenav-content>
    <form [formGroup]="form" novalidate (ngSubmit)="onSubmit()">
      <mat-card class="card-form">
        <mat-card-header>
          <mat-card-title>Role</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="row">
            <div class="col">
              <mat-form-field appearance="fill" class="full-width">
                <input matInput placeholder="název" formControlName="name" />
                <mat-error *ngIf="form.controls['name'].hasError('required')">
                  Toto pole je <strong>povinné</strong>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field appearance="fill" class="full-width">
                <input
                  matInput
                  placeholder="popis na web (stručný)"
                  formControlName="summaryShort"
                />
                <mat-error
                  *ngIf="form.controls['summaryShort'].hasError('required')"
                >
                  Toto pole je <strong>povinné</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <mat-form-field appearance="fill" class="full-width">
                <textarea
                  matInput
                  placeholder="popis na web (úplný)"
                  formControlName="summaryLong"
                ></textarea>
                <mat-error
                  *ngIf="form.controls['summaryLong'].hasError('required')"
                >
                  Toto pole je <strong>povinné</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <mat-form-field appearance="fill" class="full-width">
                <textarea
                  matInput
                  placeholder="popis"
                  formControlName="description"
                ></textarea>
                <mat-error
                  *ngIf="form.controls['description'].hasError('required')"
                >
                  Toto pole je <strong>povinné</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <mat-form-field appearance="fill" class="full-width">
                <textarea
                  matInput
                  placeholder="pískoviště"
                  formControlName="sandbox"
                ></textarea>
                <mat-error
                  *ngIf="form.controls['sandbox'].hasError('required')"
                >
                  Toto pole je <strong>povinné</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <mat-form-field appearance="fill" class="full-width">
                <textarea
                  matInput
                  placeholder="organizačně"
                  formControlName="orgNote"
                ></textarea>
                <mat-error
                  *ngIf="form.controls['orgNote'].hasError('required')"
                >
                  Toto pole je <strong>povinné</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <mat-form-field appearance="fill" class="full-width">
                <textarea
                  matInput
                  placeholder="vybavení"
                  formControlName="equipment"
                ></textarea>
                <mat-error
                  *ngIf="form.controls['equipment'].hasError('required')"
                >
                  Toto pole je <strong>povinné</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <button
            mat-raised-button
            color="primary"
            type="submit"
            [disabled]="!form.valid"
          >
            Uložit
          </button>
        </mat-card-actions>
      </mat-card>
    </form>
  </mat-sidenav-content>
</mat-sidenav-container>

<ng-template #loading>
  Načítám data...
</ng-template>
